<section class="ba-subscribe">
    <div class="ba-map" id="ba-map">
    </div>
    <!-- /.ba-map -->
    <div class="ba-subscribe__body">
        <div class="container text-center">
            <img src="assets/img/getInTouch.png" alt="works">
            <h2 class="ba-section__title ba-section__title--light text-center text-uppercase ba-services__title">Recent works</h2>
            <div class="ba-subscribe__info">
                <div class="ba-subscribe__box">
                    <div class="ba-subscribe__box1">
                    <img src="assets/img/subscribeHome.png" alt="home">
                    </div>
                    <div class="ba-subscribe__box2">
                    <p class="ba-subscribe__text">Ikan Piranha Atas 220C
                        Malang - East Java
                        Indonesia</p>
                    </div>
                </div>
                <div class="ba-subscribe__box">
                    <div class="ba-subscribe__box1">
                        <img src="assets/img/subscribeTell.png" alt="home">
                    </div>
                    <div class="ba-subscribe__box2">
                        <p class="ba-subscribe__text">Ikan Piranha Atas 220C
                            Malang - East Java
                            Indonesia</p>
                    </div>
                </div>
            </div>
            <form action="" class="ba-subscribe-form" id="contact">
                <div class="ba-subscribe-form__flex">
                    <div class="form-group ba-subscribe-form__name ba-subscribe-form__elem">
                        <input type="text" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group ba-subscribe-form__email ba-subscribe-form__elem">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Your email" required>
                    </div>
                </div>
                <textarea name="message" rows="6" class="form-control ba-subscribe-form__textarea ba-subscribe-form__elem" placeholder="Your Message" required></textarea>
                <button class="btn btn-primary ba-subscribe-form__btn">SEND MESSAGE</button>
            </form>
            <!-- /.ba-subscribe-form -->
        </div>
    </div>
    <!-- /.ba-subscribe__body -->
</section>
<!-- /.ba-subscribe -->
